#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/buildflags.mk

export XDG_RUNTIME_DIR=/tmp
export HOME=/tmp

%:
	dh $@ --parallel --with autoreconf

override_dh_auto_configure:
	rm -rf src/bin/lz4
	dh_auto_configure -- --disable-silent-rules
